<div class="filesinfo">
    Размер файлов: <span id="totalFilesSize">-1 Б</span> | Всего файлов: <span id="totalFiles">-1</span> (из них <span id="nsfwFiles">-1</span> с меткой <span class="nsfw">NSFW</span>)<br><br>
    Сортировка<br>
    <select name="sort" id="sort">
        <option value="id" selected>По ID</option>
        <option value="filename">По названию</option>
        <option value="upload_date">По дате</option>
        <option value="size">По размеру</option>
        <option value="views">По просмотрам</option>
    </select>
    <select name="order" id="order">
        <option value="DESC" selected>По убыванию (от большего к меньшему)</option>
        <option value="ASC">По возрастанию (от меньшего к большему)</option>
    </select>
    <button onclick="appendSortParams()">Применить</button><br><br>

    Поиск по тегам<br>
    <input type="text" name="tags" id="searchByTags" placeholder="Поиск по тегам"><br>
    Отображается: <span id="searchByTagsCount">Все</span>
</div>
<div class="files-container">
    <div class="files" id="files">
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <p class="placeholder">Просмотры: ???</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
    </div>
</div>