<div class="filesinfo">Размер файлов: <span id="totalFilesSize">-1 Б</span> | Всего файлов: <span
        id="totalFiles">-1</span> (из них <span id="nsfwFiles">-1</span> с меткой <span class="nsfw">NSFW</span>)</div>
<div class="files-container">
    <div class="files" id="files">
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
        <div class="file">
            <p class="placeholder">????????????????????????????????.???</p>
            <p class="placeholder">?.?? Б</p>
            <p class="placeholder">Тип: ?????/???</p>
            <p class="placeholder">Дата: ????-??-?? ??:??:??</p>
            <div class="file-actions placeholder">
                <p>Удалить | Просмотр | Прямая Ссылка | Сократить ссылку</p>
            </div>
        </div>
    </div>
</div>