<h1>Добро пожаловать на Awesome File Sharing!!</h1>
<p>Это простенький файлообменник на JavaScript и PHP с <a href="https://github.com/kararasenok-gd/awesomefilesharing"
        target="_blank">открытым исходным кодом</a>
    для обмена файлами как не странно :></p>
<h2>Чем можно обмениваться?</h2>
<ul>
    <li>Изображения (*.png, *.jpeg, *.jpg, *.gif, ...)</li>
    <li>Видео (*.mp4, *.webm, *.3gp, ...)</li>
    <li>Аудио (*.mp3, *.ogg, *.m4a, ...)</li>
    <li>Документы (*.txt, *.py, *.js, *.html, ...)</li>
    <li>Архивы (*.zip)</li>
</ul>
<h2>Авторы</h2>
<p>Скодил это всё: <a href="https://kararasenok.ueuo.com/" target="_blank"><strong>@kararasenok_gd</strong></a>
</p>
<p>Задизайнил это всё: <a href="https://syirezz.space/" target="_blank"><strong>@syirezz</strong></a></p>
<h2>Ссылочки какие-то</h2>
<p><a href="./rules.txt" target="_blank">Правила</a></p>
<p><a href="https://github.com/kararasenok-gd/awesomefilesharing" target="_blank">Исходники</a></p>
<p><a href="https://github.com/kararasenok-gd/awesomefilesharing/issues" target="_blank">Баги и предложения</a>
</p>
<p><a href="https://t.me/DoubleD0t/179" target="_blank">Макет сайта</a></p>
<p><a href="https://t.me/kararasenokk" target="_blank">Канал автора</a></p>
<br>
← Выбери раздел в этом меню