<h2>Смена пароля</h2>
<input type="password" name="oldPassword" id="oldPassword" placeholder="Старый Пароль"><br>
<input type="password" name="newPassword" id="newPassword" placeholder="Новый Пароль"><br>
<button id="changePassword">Сменить Пароль</button>

<hr>

<h2>Удаление аккаунта</h2>
<input type="password" name="password" id="deletePassword" placeholder="Пароль"><br>
<button id="deleteAccount">Удалить аккаунт</button>

<hr>

<h2>Настройки отображения</h2>
<input type="checkbox" id="showPreviews"> Показывать превью изображений на странице файлов<br>
<input type="checkbox" id="showNSFW"> Показывать NSFW файлы<br>