<div class="uploadProgress">
    <progress id="progressBar" value="0" max="100"></progress>
    <p>Всего занято: <span id="progressCount">0</span> из <span id="progressMax">0</span></p>
    <p>Всего файлов: <span id="progressTotal">0</span></p>
</div>

<div class="upload">
    <input type="file" id="fileInput"
        accept="image/* video/* audio/* text/* application/zip application/x-zip-compressed" multiple>
    <button id="uploadButton">Загрузить</button>
</div>

<table>
    <tbody id="filesTable">
        <tr>
            <th>No</th>
            <th>Название</th>
            <th>Параметры</th>
            <th>Размер</th>
            <th>Тип</th>
            <th>Загружено?</th>
        </tr>
    </tbody>
</table>
<div id="uploadResults"></div>